body { 
        background: url("../images/yulBrennerGunslinger.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      z-index: -1;
}
.container {
    z-index: 1;
}
#headline {
    text-align: center;
    color: white !important;
    display: fixed;
    text-align: center;
}