body { 
        background: url("../images/yulBrennerGunslinger.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -1;
        text-shadow: 3px 2px white; 
        font-size: X-large;
        color: rgb(77, 54, 7);
}
.container {
    z-index: 1;
}
#headline {
    text-align: center;
    text-shadow: 3px 2px white; 
    font-size: X-large;
    color: rgb(77, 54, 7);
    display:fixed;
}

div #hangmanWord {
    text-align: center;
    font-size: 16px;
    color: rgb(77, 54, 7); 
}

div #lettersGuessed {
    text-align: center;
    font-size: X-large;
    color: rgb(77, 54, 7);
}

#GuessesRemaining {
    text-align: center;
    font-size: X-large;
    color: rgb(77, 54, 7);
}

#score {
    text-align: center;
    font-size: X-large;
    color: rgb(77, 54, 7);
}
