body {
    /* background-image: url("yulBrennerGunslinger.jpg"); */
    background-image: url("../images/yulBrennerGunslinger.jpg");
    background-attachment: fixed;
    background-image: width 100%;
}
.h1 {
    text-align: center;
}